<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/journal.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1>Intima</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('page_accueil') }}">Accueil</a></li>
          <li><a>A propos</a></li>
          <li><a>Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="about" class="section">
    <div class="container">
      <h2>À propos de Intima</h2>
      <p>Intima est votre espace personnel pour écrire, réfléchir et explorer vos pensées les plus intimes. Avec un design minimaliste et une interface conviviale, Intima vous permet de capturer vos moments les plus précieux en toute simplicité.</p>
    </div>
  </section>

  <section id="entries" class="section">
    <div class="container">
      <h2>Ma Dernière Entrée</h2>
      <div class="tbl-content">
        <h2>{{title}}</h2>
        <p>{{content}}<p>
        <p>{{date}}</p>
      </div>
    </div>
  </section>

  <section id="new-entry" class="section">
    <div class="container">
      <h2>Nouvelle Entrée</h2>
      <form action="/creerNouvelleEntree" method="post">
        <textarea id="title" placeholder="Titre"></textarea>
        <textarea id="content" placeholder="Contenu"></textarea>
        <button type="submit">Enregistrer</button>
      </form>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 Intima. Tous droits réservés.</p>
    </div>
  </footer>
</body>
</html>